





/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    text-align: center;
    margin: 100px;
    background: #ffffff;
    color: #95a5a6;
    font-size: 16px;
    line-height: 1.1;
    font-family: 'Josefin Sans', sans-serif;
}

body h1 {
    padding: 20px;
}

body h2 {
    padding-bottom: 20px;
}